# OS / editor junk
.DS_Store
.vscode/
compile_commands.json

# Build artifacts
build/
*.o
*.elf

# Cache
.cache/

# Game saves
*.sav
game-01.sav

# Clang config (if you don’t want it in Git)
.clang-format
.clangd
